Repository 7th-fret/meerk40t, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Doc, Base, Core, Devices, GUI, Misc, Tests, Translations

Stub for spiral (non working)
  meerk40t/extra/param_functions.py
Labels: Misc

Auto-adjust resolution
  meerk40t/balormk/livelightjob.py
Labels: none

Add device property to cutplan
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
Labels: Core

Reset views (incomplete)
  meerk40t/gui/simulation.py
Labels: GUI

Fontcombo test
  meerk40t/gui/hersheymanager.py
Labels: GUI

.github/labeler.yml:

# Format at https://github.com/actions/labeler

Config:
- '*'
- '.*/**'

Doc:
- '**.md'

Base:
- 'meerk40t/*.py'

Core:
- 'meerk40t/core/**.py'

Devices:
- 'meerk40t/device/**.py'

GUI:
- 'meerk40t/gui/**.py'

Misc:
- 'meerk40t/dxf/**.py'
- 'meerk40t/extra/**.py'
- 'meerk40t/image/**.py'
- 'meerk40t/tools/**.py'

Tests:
- 'test/**.py'

Translations:
- 'locale/**'
